h1 {
    text-align: center;
    color: rgb(186, 25, 127);
  }
h2 {
    text-align: center;
    color:#c348d4;
}
h4{
    text-align: center;
    color:#ca9f2c;

}
div { text-align: center; }
ul { display: inline-block; text-align: left; }
ol{
    display: inline-block; text-align: left; 

}
image{
    width: 50px;
    height: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
